<link rel="stylesheet" href="/style/{{defaultStyle}}/home/index.css">
<div id="index">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="title">الحصول على الشهادة</div>
                <div class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis facilis,
                    illum
                    est quae possimus ea quod iure neque voluptatum. Placeat laudantium inventore vero ipsum fuga, sequi
                    quae debitis optio? Libero.</div>

                <div class="content">
                    <form method="post" action="/download">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">الأسم الثلاثي و اللقب</span>
                            </div>
                            <input name="member_name" class="form-control" type="text" placeholder="محمد احمد مصطفى"
                                required maxlength="100" minlength="8">
                        </div>
                        <button class="btn btn-block btn-danger" type="submit">تحميل</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>