<link rel="stylesheet" href="/style/{{defaultStyle}}/home/index.css">
<div id="index">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="title">الحصول على الشهادة</div>
                <div class="description">
                    الموقع مخصص لشهادات التخرج لجميع المشاركين في الملتقى القادي - الانبار، للحصول على شهادة المشاركة
                    يرجى أدخل الاسم بشكل صحيح 100% ليتم طباعة شهادتك
                </div>

                <div class="content">
                    <form method="post" action="/download">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">الأسم</span>
                            </div>
                            <input name="member_name" class="form-control" type="text" placeholder="محمد احمد مصطفى"
                                required maxlength="100" minlength="8">
                        </div>
                        <button class="btn btn-block btn-danger" type="submit">تحميل</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>