@import "../variables";
header {
  .jumbotron {
    background-color: $color5;
    margin: 0;
  }
  #logo {
    background-color: $color2;
    color: white;
    display: inline-block;
    padding: 15px;
    border-radius: 5px 0 5px 0;

    #logoImage {
      height: 100px;
      width: 100px;
      background-image: url("/img/logo_white.png");
      background-position: center;
      background-clip: content-box;
      background-origin: content-box;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  color: white;
  #description {
    opacity: 0.5;
  }
  #search {
    direction: ltr;
    div {
      input {
        font-size: 22px;
      }
      div {
        button {
          height: 100%;
          direction: rtl;
        }
      }
    }
  }
}
